@CHARSET "UTF-8";

body { 
	font-family: arial, helvetica, sans-serif;
	font-size: 0.8em;
}
#header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#header li {
    float: left;
    border: 1px solid white;
    border-bottom-width: 0;    
    margin: 0;
}
#header a {
    text-decoration: none;
    display: block;
    background: rgb(17, 17, 204);
    padding: 0.24em 1em;
    color: white;
    width: 8em;
    text-align: center;
}
#header a:hover {
	background: gray;
}
#header .selected {
	border-color: black;
}
#header .selected a {
	position: relative;
	top: 1px;
    background: white;
    color: rgb(17, 17, 204);
    font-weight: bold;
}
#content {
    border: 1px solid;
    clear: both;
    padding: 1em;
}
h1, h2 {
    color: rgb(17, 17, 204);
}
div.table { 
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}
th {
	text-align: left;
}
tr.even {
    background-color: white;	
}
tr.odd {
	background-color: rgb(221, 221, 221);
}
th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* Make <label> completely fill the parent <td> */
#action-items-table tr {
	height: 1px;
}
#action-items-table td {
	height: 100%;
}
#action-items-table td label {
	display: block; 
    min-height: 100%;
}

#performanceForm div {
	padding-top: 1em;
}
#performanceTable td {
    text-align: right;
}
#performanceSummary {
    border-spacing: 0;
    border-collapse: collapse;
    
}
#performanceSummary thead th {
    text-align: center;
}
#performanceSummary th {
    border: solid black 1px;	
}
#performanceSummary td {
    border: solid black 1px;    
    text-align: right;
}
#performanceSummary tfoot th {
    text-align: right;
}
label {
    margin-right: 0.5em;
}
.verticalForm div {
    padding-bottom: 1em;
}
.verticalForm label {
	clear: left;
	float: left;
	padding-top: 0.5em;
	width: 4em;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
    text-align: right;
}
.error { 
	color: red;
}



